@import '~bootstrap/scss/bootstrap';

@import '~@fortawesome/fontawesome-free/css/all.css';


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
  height: 100% !important;
	color: #2d3748;
	font-size: 1rem;
	font-weight: normal;
  font-family: 'system-ui', sans-serif;
  background-color: rgba(37, 50, 106, 0.05);
  // background-image:  linear-gradient(rgba(37, 50, 106, 0.01), rgba(37, 50, 106, 0.05));
}

.main {
  min-height: 100%;
}

.container-wrapper {
  overflow: auto;
  padding-bottom: 100px;
}

.header {
  background-color: #25326a;
  border-radius: 0;
}

.footer {
  background-color: #25326a;
  border-radius: 0;
  position: relative;
  margin-top: -102px !important;
}

.header > .mat-card, .footer > .mat-card {
  color: #ffffff;
  background-color: #25326a;
  border-radius: 0 !important;
}

.content-wrapper {
  overflow: auto;
  max-height: 100%;
}

$invid-blue: (
  50: #eceef8,
  100: #c6cdeb,
  200: #a1acde,
  300: #7b8bd1,
  400: #5569c3,
  500: #3c50aa,
  600: #1b234b,
  700: #141b39,
  800: #0d1226,
  900: #070913,
  A100: #354797,
  A200: #2e3e84,
  A400: #283571,
  A700: #25326a,
  contrast: (
    50: #000000,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff
  )
);
